.head {
	border-bottom: 1px solid #ebedee;
}

.header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.header .links .headerLink {
	margin-right: 20px;
}

.header .links .headerLink:last-child {
	margin-right: 0;
}


.headerLink {
	display: inline-block;
	height: 40px;
	font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.headerLink:hover {
	text-decoration: none;
}

.links, .cartAndLogin {
	font-size: 0;
}

.cartAndLogin .login {
	border-left: 1px solid #ebedee;
	border-right: 1px solid #ebedee;
	width: 100px;
}

.cartAndLogin .favorites {
	width: 130px;
}

.cartAndLogin .cart {
	color: #ffffff;
	background: #ff3801;
	width: 145px;
}

.cartAndLogin .cart .count {
	color: #ebe26a;
}

.headerLink .linkText {
	padding-left: 6px;
	vertical-align: middle;
}

/*logo section*/

.logoSection {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.logoSection .feedback .telephone {
	font-size: 18px;
	color: #333333;
}

.logoSection .feedback .telephone:first-child {
	padding-right: 15px;
}

.logoSection .feedback .feedbackBtn {
	margin-top: 10px;
	color: #ffffff;
	width: 133px;
	height: 29px;
	border-radius: 2px;
	background: #89c238;
	font-size: 12px;
	border: none;
	cursor: pointer;
	display: block;
}


.logoSection .logo img {
	width: 236px;
	height: 61px;
}

.searchBox {
	position: relative;
}

.searchBox .searchBtn {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	border-radius: 20px 0 0 20px;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.logoSection .searchBox .searchInput {
	display: block;
	color: #666666;
	width: 200px;
	border: 1px solid #ebedee;
	border-radius: 20px;
	outline: none;
	padding: 5px 0 5px 34px;
}

/*main menu*/

.mainMenu {
	height: 55px;
	border-top: 1px solid #ebedee;
	border-bottom: 1px solid #ebedee;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainMenu .mainLink {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	color: #333333;
}
