html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html { 
	height: 100%;
}

* {
	box-sizing: border-box;
	/*transition: all 0.5s ease-out;*/
} 

body {
  font-size: 1em;
  font-family: 'Arima Madurai', cursive;
  font-weight: 400;
  line-height: 1.2; 
  color: white;
  background: #9aa1a7;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  outline: none;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main {
  width: 100%;
  background: #9aa1a7 url("../imgs/background.jpg") center no-repeat;
  background-size: cover;
}

.container {
  width: 92.708333333%;
  margin: 0 auto;
}

/***main-nav***/

nav ul li {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}

nav ul li:last-of-type {
  margin-right: 0px;
}

nav ul {
  border-bottom: 1px solid white;
  text-align: center;
} 

nav ul li a {
  font-size: 1.5em;
  padding: 35.5px 0 35.5px 0;
  display: inline-block;
}

nav ul li a:hover {
  color: orange;
}

/***logo***/

div.logo {
  padding-top: 150px;
  padding-bottom: 50px;
  max-width: 474px;
  margin: 0 auto;
}

img {
  text-align: center;
  width: 100%;
  height: auto;
}

/*div.logo span {
  font-size: 2.25em; 
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: -45px;
  margin-left: 85%;
}*/

h1 {
  font-size: 3.75em; /*60px*/
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

div.scroll {
  font-size: 1.125em; /*18px*/
  text-transform: uppercase;
  padding: 130px 0 105px 0;
  text-align: center;
  clear: both;
}

div.scroll a {
	background: url("../imgs/doubleArrow.png") no-repeat center bottom;
	padding-bottom: 40px;
}

/***about***/

div.about {
  width: 100%;
  background: white;
  color: black;
}

div.about div.container a {
	color: #bebebe;
}

div.about div.container nav ul {
  border-bottom: 1px solid #bebebe;
} 

div.about div.container nav ul a:hover {
	color: orange;
}

.content img {
	float: left;
	padding: 75px 50px 0 95px;
	width: 51.404494382%; 
	min-width: 300px;
	max-width: 770px; 
	height: auto;
} 

/*.content img {
	float: left;
	padding: 75px 50px 0 95px;
	max-width: 51.404494382%;
	min-width: 300px; 
	height: auto;
}
*/

div.content h1 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 3.75em;
}

div.content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: justify;
}

div.content span {
	font-family: 'Pacifico', cursive;
	font-size: 2.25em;
	text-transform: capitalize;
}

.info {
	padding: 100px 0 0 0;
	line-height: 1.8;
}

.info h1, .info p, .info span {
	text-align: left;
}

.info h1 {
	padding-bottom: 50px;
}

.info p:first-of-type {
	padding-bottom: 35px;
}

.info p:nth-child(3) {
	padding-bottom: 10px;
}

div.content div.scroll {
	padding-top: 80px;
}

/***portfolio***/

.portfolio {
  width: 100%;
  background: #9aa1a7 url("../imgs/porto.jpg") center no-repeat;
  background-size: cover;
}

.portfolio h1 {
	text-transform: uppercase;
	font-weight: 400;
	padding: 85px 0 85px 0;
}

ul.my-works {
	text-align: center;
	/*padding: 0 95px 0 95px;*/
}

ul.my-works img {
	max-width: 279px;
	min-width: 150px;
	height: auto;
}

ul.my-works li{
	padding: 0 25px 50px 25px;
	text-align: center;
	display: inline-block;
}

/***contacts***/

div.contacts {
	background: white;
	width: 100%;
	color: black;
}

div.contacts div.container a {
	color: #bebebe;
}

div.contacts div.container nav ul {
  border-bottom: 1px solid #bebebe;
} 

div.contacts div.container nav ul a:hover {
	color: orange;
}

.my-contacts {
	text-align: center;
	text-transform: uppercase;
	padding-top: 180px;
}

.my-contacts img {
	width: 57px;
	height: 57px;
}

.my-contacts p {
	font-size: 3.75em;
	font-weight: 400;
}

.my-contacts span {
	font-size: 0.5em;
	font-weight: 700;
}

.my-contacts p.telephone {
	font-size: 3em;
}

.contacts .container .my-contacts p a,
div.contacts div.container div.footer a {
	color: black;
}

div.contacts div.container div.footer a {
	text-transform: none;
}

.contacts .container .my-contacts p a:hover {
	color: orange; /*#bebebe*/
}

div.contacts div.container div.footer a:hover {
	color: orange; /*#bebebe*/
	text-decoration: underline;
}

div.footer {
	border-top: 1px solid #bebebe;
	padding: 40px 0 40px 0;
	text-align: center;
}

div.contacts div.container div.my-contacts p.social {
font-size: 0;
}

div.contacts div.container div.my-contacts p.social a {
	margin-right: 25px;
}

div.contacts div.container div.my-contacts p.social a:last-of-type {
	margin-right: 0;
}

.footer {
	margin-top: 200px;
	font-size: 1.125em;
}

div.my-contacts p:nth-child(odd) {
padding-bottom: 20px;
}

div.my-contacts p:nth-child(even) {
padding-bottom: 40px;
}

div.my-contacts p.social {
	padding-bottom: 0;
}

/***burger menu***/

button {
	display: none;
	position: fixed;
	top: 35px;
	right: 40px;
	height: 50px;
	width: 50px;
	padding-top: 8px;
	padding-left: 9px;
	background: #4682B4;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 200;
}

button:hover {
	background: #00BFFF;
}

button span:after {
	content: "";
	display: block;
	height: 5px;
	width: 33px;
	background: white;
	margin-bottom: 7px;
}

