nav ul li {
  display: block;
  margin: 0;
}

nav ul li a {
  padding: 15.5px 0 15.5px 0;
}

div.logo {
  padding-top: 75px;
}

h1 {
  font-size: 35px;
}

/***about***/

.content img {
	padding: 30px;
} 

div.content h1 {
	font-size: 2.75em;
	padding-bottom: 10px;	
}

.info p{
	float: left;
	width: 100%; /*для нормального отображения mobile landscape*/
}

.info p span {
	clear: both;
}

/***contacts***/

.contacts .my-contacts p.mail, .contacts .my-contacts p.telephone {
	font-size: 2.75em;
}

.my-contacts {
	padding-top: 140px;
}

.footer {
	margin-top: 170px;
}

/***burger menu***/

nav {
	display: none;
}

button {
	display: block;
}

.toggle {
	border-radius: 0px 0px 15px 15px;
	position: fixed;
	width: 92.708333333%;
	background: rgba(211,211,211,0.95);
}